# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
    'ctrl-alt-p':     'filrk:toggle'
    # 'ctrl-alt-space': 'filrk:run'

'.filrk .path-input':
    'enter':      'core:confirm'
    'ctrl-enter': 'filrk:make-root'
    'ctrl-u':     'filrk:clear-input'

    'tab':       'filrk:autocomplete-next'
    'shift-tab': 'filrk:autocomplete-previous'


    'backspace': 'native!'
