
.autocomplete-path-panel {
    position: absolute;
    z-index: 9000;
    display: inline-block;
    width: 150px;
    max-height: 250px;


    ol.completion-list {
        li {
            font: 14px "Monospace"
        }

    }
}
