// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@panel-bg: rgba(255, 0, 0, 0.6);
@panel-border: black;

atom-panel.filrk-panel {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;

    width: 500px;
    height: 100px;
    margin: 0;
    // padding: 10px;

    background: @panel-bg;
    border: 1px solid @panel-border;
    box-shadow: 0px 0px 25px 10px fade(#000000, 30%);
}

.filrk {
}
