// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";


@text-color: #e0e0e0;

@panel-background: @tool-panel-background-color;

@panel-bg:     rgba(255, 255, 255, 0.1);
@panel-border: black;

// @file-panel-bg:  rgba(255, 255, 255, 0.7);
@file-panel-bg:  @overlay-background-color;
@command-bar-bg: rgba(255, 255, 255, 0.3);

@selection-panel-bg: rgba(0, 0, 0, 1);

@path-label-width:      100px;
@path-background-color: lighten(black, 10%);

.font() {
    font-size: 14px;
    font-family: "Monospace";
}

.transparentInput() {
    border:           none;
    outline:          none;
    background-color: transparent;
}

atom-panel.filrk-panel {
    display:  inline-block;
    position: absolute;

    top:     50px;
    right:   20px;
    z-index: 5000;

    width: 600px;
    height: 350px;
    margin: 0;
    // padding: 10px;

    // background: @panel-bg;
    border: 1px solid @panel-border;
    box-shadow: 0px 0px 25px 10px fade(#000000, 30%);
}

.filrk {
    display:    flex;
    height: 100%;

    background-color: @tool-panel-background-color;

    .font();

    .left-panel {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .file-panel {
            flex-grow: 1;

            overflow: auto;

            background-color: @overlay-background-color;
            border: 1px solid @overlay-border-color;

            .file-panel-list {
                padding-left: 10px;
            }
        }
        .command-bar {
            position: relative;
            flex-basis: @component-line-height;
            min-height: @component-line-height;

            display:        flex;
            flex-direction: row;

            border: 1px solid @input-border-color;
            // background-color: @input-background-color;

            .font();

            &::before {
                position: absolute;
                display:  inline-block;
                z-index:  6000;
                top:  0;
                left: 0;

                width:  10px;
                height: @component-line-height;

                content: " ";

                background: linear-gradient(
                    to right,
                    fade(@panel-background, 100%),
                    fade(@panel-background, 0%));
            }

            .path-container {
                position: relative;
                display: inline-block;

                height:      @component-line-height;
                line-height: @component-line-height;
                max-width:   200px;
                overflow:    hidden;

                color: darken(@text-color, 25%);

                transition: all .3s ease;

                .path-label {
                    position: absolute;
                    display:  inline-block;
                    white-space: nowrap;
                    padding-left: 10px;

                    height:      @component-line-height;
                    line-height: @component-line-height;

                    transition: all .3s ease;
                }
            }

            .input-container {
                flex-grow: 1;

                position: relative;
                display:  inline-block;
                margin:  0;
                padding: 0;

                height:  @component-line-height;
                line-height: @component-line-height;

                & > input {
                    .transparentInput();
                    display: inline-block;
                    width:   100%;
                    margin:  0;
                    padding: 0;

                    .font();
                    color: @text-color;
                }
            }
        }
    }

    .right-panel {
        flex-grow: 0;
        flex-basis: 200px;

        padding-left: 10px;

        color: white;
        background-color: @selection-panel-bg;
        color: white;
    }
}
